body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:43px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:945px;
  width:188px;
  height:42px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1823px;
  top:17px;
  width:45px;
  height:42px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:404px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:629px;
  width:285px;
  height:403px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:194px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:404px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:629px;
  width:285px;
  height:403px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:194px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:404px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:629px;
  width:285px;
  height:403px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:194px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:404px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:629px;
  width:285px;
  height:403px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:194px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:404px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:1532px;
  top:629px;
  width:285px;
  height:403px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:194px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
