body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:43px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:94px;
  width:188px;
  height:42px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:43px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:188px;
  height:42px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
